@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
}

.bgLoading {
    background-image: url('../images/BgAuthLoading.png');
}

.bgRegister {
    background-image: url('../images/BgAuthRegister.png');
}

.bgLogin {
    background-image: url('../images/BgAuthLogin.png');
}

.bgRecover {
    background-image: url('../images/BgAuthRecover.png');
}

.text {
    color: white;
    font-family: 'Chewy';
    font-size: 20px;
}

.loader {
    animation: load-effect 2s infinite linear;
    text-indent: -9999px;
    position: relative;
    width: 70px;
    height: 70px;
    box-shadow: inset 0 0 0 7px  rgba(255,255,255,0.2); /*Set the internal shadow to be white and transparent with a width of 15px*/
    border-radius: 50%;
    /*Use gradient to make tail effect*/
    background: linear-gradient(to right,#ffffff 10%,rgba(255,255,255,0) 50%);
  }
  
/*Use pseudo elements to cover the gradient in the middle*/
.loader:after{
    position: absolute;
    content: '';
    width:56px;
    height:56px;
    border-radius: 50%;
    left:7px;
    top:7px;
    background: url('../images/BgAuthLoading.png');
}

@keyframes load-effect {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}