.categories {
 height: 30px;
 color: #C4C4C4;
 margin: 4px 4px;
 font-size: 14px;
 font-weight: 500;
 border-radius: 12px;
 display: inline-flex;
 border: 1px solid #C4C4C4;
 padding: 4px 12px 6px 14px;
}

.categories:hover{
 cursor: pointer;
}

.categoriesActive {
 height: 30px;
 margin: 4px 4px;
 font-size: 14px;
 font-weight: 500;
 border-radius: 12px;
 display: inline-flex;
 border: 1px solid #C4C4C4;
 padding: 4px 12px 6px 14px;
 color: #951CB3;
 border: 1px solid #951CB3;
}

.categoriesActive:hover{
 cursor: pointer;
}

.card{
    position: relative;
    padding: 0;
    width: 27%;
    margin: 32px 3%;
}

.cardButton{
    left: 0;
    right: 0;
    bottom: -16px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.containerSearch{
    padding: 4px 4px;
    display: flex;
    align-items: center;
    width: 400px;
    height: 36px;
    border: 1px solid #C4C4C4;
    align-self: flex-end;
}

.input{
    flex: 1;
    margin-left: 24px;
    border-radius: 24px;
}