@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.container {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
}

.bgLoading {
    background-image: url('../images/BgAuthLoading.png');
}

.textLoading {
    color: white;
    font-size: 20px;
    font-family: 'Chewy';
}

.loaderPage {
    width: 70px;
    height: 70px;
    position: relative;
    border-radius: 50%;
    text-indent: -9999px;
    animation: load-effect 2s infinite linear;
    box-shadow: inset 0 0 0 7px  rgba(255,255,255,0.2);
    background: linear-gradient(to right,#ffffff 10%,rgba(255,255,255,0) 50%);
} 

.loaderPage:after{
    top: 7px;
    left: 7px;
    width: 56px;
    content: '';
    height: 56px;
    position: absolute;
    border-radius: 50%;
    background: url('../images/BgAuthLoading.png');
}

.loaderButton {
    width: 16px;
    content: '';
    height: 16px;
    margin-left: 6px;
    position: relative;
    border-radius: 50%;
    animation: load-effect 1s infinite linear;
    box-shadow: inset 0 0 0 1.6px  rgba(255,255,255,0.2);
    background: linear-gradient(to right,#ffffff 20%,rgba(255,255,255,0) 50%);
}

.loaderButton::after {
    top: 1.6px;
    left: 1.6px;
    width: 12.8px;
    content: '';
    height: 12.8px;
    position: absolute;
    border-radius: 50%;
    background-color: #A734C3;
}

@keyframes load-effect {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}