.ViewLinksNavbar {
    display: flex;
    align-items: center;
}

.Links {
    margin: 0px;
    display: flex;
    list-style: none;
}
  
.Links li {
    font-size: 18px;
    letter-spacing: 1px;
    color: #fff !important;
    /* margin: 0px 50px 0px 20px; */
}
  
.Links a:hover {
    color: #BC3DDC !important;
    text-decoration: none !important;
}
  
.ComponentNavbar {
    display: flex;
    align-items: center;
}
  
.ComponentNavbar p {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff !important;
}

.IconProfile {
    cursor: pointer;
    margin: 0px 25px 0px 0px;
}

.ViewDescMenu {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin: 0px 0px 0px 0px;
    padding: 8px 60px 8px 20px;
}

.ViewDescMenu:hover{
    background-color: #dedede;
}

.ViewDescMenu p {
    font-size: 16px;
    color: #BC3DDC;
    margin: 0px 0px 0px 12px;
}

.IconTriangleNav {
    top: 3.5%;
    left: 47%;
    width: 25px;
    position: absolute;
}

.IconTriangleNavPayment {
    top: 8px;
    left: 45%;
    width: 25px;
    position: relative;
}